body{
    background-color: white;
    margin: 0px;
}

nav{
    background-color: #3A72B5;
    width: 1423px;
    height: 94px;
    margin: 0px;  
}

.company-name{
    color: #FFFFFF;
    width: 201px;
    height: 42px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;

    display: inline-block;
    position: relative;
    margin-left: 227px;
    margin-top: 26px;
}

.Profile-box{
    width: 100px;
    height: 42px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    margin-left: 685px;
}

.profile{
    color: #3A72B5;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    position: relative;
    margin-top: 7px;
    margin-left: 18px;
}

main{
    display: block;
    background-color:#DBDBDB;
    width: 986px;
    height: 560px;
    border-radius: 8px;
    position: relative;
    margin-top: 102px;
    margin-bottom: 144px;
    margin-left: 227px;
}

.company-box {
    background-color:#FFFFFF;
    width: 298px;
    height: 298px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    transform: rotate(-10deg);
    display: inline-block;
    position: relative;
    margin-top: 105px;
    margin-left: 185px;
    z-index: 1;
}

.customer-box {
    background-color:#FFFFFF;
    width: 298px;
    height: 298px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    transform: rotate(10deg);
    display: inline-block;
    position: relative;
    /*4px de la display:inline-block + distanta interferentei celor 2 casute*/
    margin-left: -31px;
}

p {
    color:#000000;
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.company {
    position: relative;
    margin-top: 240px;
    margin-bottom: 0px;
    margin-left: 67px;
}

.customer {
    position: relative;
    margin-top: 240px;
    margin-bottom: 0px;
    margin-left: 67px;
}

.image {
    position: absolute;
    width: 104px;
    height: 104px;
    left: 668px;
    top: 44px;
    border-radius: 50%;
}